.navbar-brand {
    color: black;
    font-size: 50px;
}
.dropdown-menu {
    animation: fadeInAnimation 0.3s ease-in-out;
    display: none;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar {
    background-color: #ffffff;
    color: #000000;
}

.navbar-nav .nav-link {
    color: #000000;
}

.navbar-nav .nav-link:hover {
    color: #00A7B5;
}