<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/users.css">
</head>
<body>

<div class="container-md d-flex justify-content-center">
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/offers/all" role="button" aria-haspopup="true"
             aria-expanded="false">
            Заказы
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/all" role="button" aria-haspopup="true"
             aria-expanded="false">
            Пользователи
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands/all" role="button" aria-haspopup="true"
             aria-expanded="false">
            Список брендов
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/models/all" role="button" aria-haspopup="true"
             aria-expanded="false">
            Список моделей
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-md d-flex justify-content-center">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created</th>
      <th scope="col">Modified</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="brand : ${brands}">
      <td th:text="${brand.name}"></td>
      <td th:text="${brand.created}"></td>
      <td th:text="${brand.modified}"></td>

      <td>
        <button type="button" class="btn btn-primary">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container-md d-flex justify-content-center">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Brand
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/brands/add}"
                th:method="post"
                th:object="${brandsModel}">

            <div class="mb-3">
              <label for="userName" class="col-form-label">Name</label>
              <input type="text" class="form-control" id="userName" th:field="*{name}" th:errorclass="is-invalid">
              <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error message</p>
            </div>

            <div class="mb-3">
              <label for="created" class="col-form-label">Created</label>
              <input type="datetime-local" class="form-control" id="created" th:field="*{created}">
              <p th:if="${#fields.hasErrors('created')}" th:errors="*{created}">Error message</p>
            </div>
            <div class="mb-3">
              <label for="modified" class="col-form-label">Modified</label>
              <input type="datetime-local" class="form-control" id="modified" th:field="*{modified}">
              <p th:if="${#fields.hasErrors('modified')}" th:errors="*{modified}">Error message</p>
            </div>

            <button type="submit" class="btn btn-primary">Add user</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var today = new Date();
    var modifiedField = document.getElementById('modified');
    var formattedDate = today.toISOString().substring(0, 16);
    modifiedField.value = formattedDate;
  });
</script>

<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var today = new Date();
    var modifiedField = document.getElementById('created');
    var formattedDate = today.toISOString().substring(0, 16);
    modifiedField.value = formattedDate;
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>